<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Course Manager</title>
        <style>
            .card {
                border: 3px solid rgba(0, 0, 0, 0.5);
            }
            .card-img-left {
                flex-direction: row;
            }
        </style>
    </head>
    <body>
        <!-- Main Body of Page -->

        <div class="container"> 
            <div class="card">
                <div class="row">
                    <img class="col-1" src="img/carPlaceholder.png"/>
                    <div class="card-body col-11"><a href="">Home</a> | <a href="">New Inventory</a> | <a href="">Used Inventory</a> | <a href="">Specials</a> | <a href="">Contacts</a> | <a href="">Sales</a> | <a href="">Admin</a></div>
                </div>
            </div>
            <h2>Models</h2>
            <div class="card">
                <div class="card-body">
                    <form action="Models" method="POST">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <label for="newModel" class="col-4 col-form-label font-weight-bold text-right">New Model</label>
                                    <input type="text" name="newModel" id="newModel" class="col-8 form-control" required>
                                    <input type="hidden" name="userEmail" id="userEmail" class="form-control" value="JG@gmail.com" required>
                                </div>
                            </div>
                            <label for="year" class="col-1 col-form-label font-weight-bold text-right">Year</label>
                            <input type="integer" name="year" id="year" class="col-1 form-control" required>
                            <label for="make" class="col-1 col-form-label font-weight-bold text-right">Make</label>
                            <select id="make" name="make" class="col-3 form-control">
                                <div th:each="make : ${allMakes}">
                                    <option th:text="${make.name}">Audi</option>
                                </div>
                            </select>
                            <button class="col-1 btn btn-success ml-5" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-bordered col-6 mt-3">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Date Added</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody th:each="model : ${allModels}">
                    <tr>
                        <td th:text="${model.make.name}">Audi</td>
                        <td th:text="${model.name}">A4</td>
                        <td th:text="${model.dateAdded}">1/1/2016</td>
                        <td th:text="${model.userEmail}">ewise@guildcars.com</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>