<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Course Manager</title>
        <style>
            .card {
                border: 3px solid rgba(0, 0, 0, 0.5);
            }
            .card-img-left {
                flex-direction: row;
            }
        </style>
    </head>
    <body>
        <!-- Main Body of Page -->

        <div class="container"> 
            <div class="card">
                <div class="row">
                    <img class="col-1" src="img/carPlaceholder.png"/>
                    <div class="card-body col-11"><a href="">Home</a> | <a href="">New Inventory</a> | <a href="">Used Inventory</a> | <a href="">Specials</a> | <a href="">Contacts</a> | <a href="">Sales</a> | <a href="">Admin</a></div>
                </div>
            </div>
            <h2>Users</h2>
            <a href="AddUser">Add a new User</a>
            <table class="table table-striped table-bordered col-12">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody th:each="user : ${allUsers}">
                    <tr>
                        <td th:text="${user.lastName}">Hill</td>
                        <td th:text="${user.firstName}">Austyn</td>
                        <td th:text="${user.email}">ahill@guildcars.com</td>
                        <td th:text="${user.role.getValue()}">Sales</td>
                        <td><a href="#" th:href="@{/admin/EditUser(email=${user.email})}">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>