<!-- Austin Graham 09/29/2021 -->
<!-- html template for viewing,adding,deleting Car Dealership Specials(admin access only) -->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
          crossorigin="anonymous">

    <title>Admin Specials</title>
    <style>
        .card {
            border: 3px solid rgba(0, 0, 0, 0.5);
        }
        .card-img-left {
            flex-direction: row;
        }
    </style>
  </head>
  <body>
  <!-- Main Body of Page -->
    <div class="container">
      
      <!-- ------------------------Menu Bar--------------------------------- -->  
        <div class="col m-2 card card-img-left">
            <img class="col-1" src="img/carPlaceholder.png"/>
            <div class="card-body col-11"><a href="">Home</a> | 
                                   <a href="">New Inventory</a> | 
                                   <a href="">Used Inventory</a> | 
                                   <a href="">Specials</a> | 
                                   <a href="">Contacts</a> | 
                                   <a href="">Sales</a> | 
                                   <a href="">Admin</a>
            </div>
        </div>
      
      <!-- ------------------------Page Header------------------------------ -->
        <h1>Specials</h1>
        
      <!-- -------------------Adding Specials Section----------------------- -->
        <div id="addSpecialBox" class="card">
            <div class="card-body">
                <div>

                    <form action="addSpecial" method="POST">
                        <div class="form-group row">
                            <label for="specialTitle" 
                                   class="col-2 col-form-label font-weight-bold">
                                Title
                            </label>
                            <div class="col-5">
                                <input type="text" 
                                       name="specialTitle" 
                                       id="specialTitle" 
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="specialDescription" 
                                   class="col-2 col-form-label font-weight-bold">
                                Description
                            </label>
                            <div class="col-10">
                                <textarea type="text" 
                                          name="description" 
                                          id="description" 
                                          class="col-10 form-control" 
                                          placeholder=""/>
                                </textarea>
                            </div>
                        </div>
                        <div class="row col-4">   
                            <div class="col-2">
                                <button type="submit" 
                                        class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        
      <!-- ------------------------Specials Listings------------------------ -->
      <!-- begin for each loop via thymelyfe to cycle through specials info- --> 
        <div id="currentSpecials" th:each="special : ${specials}">
            <div class="card">
                <div class="card-body"> 
                    <div class="row">

                      <!-- display contents of specials objects received from database -->  
                        <div class="col-1">
                            <img style="width: 50px; height: 50px;" src="img/carPlaceholder.png"/>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h5 class="col-10 card-title" th:text="${special.title}">Special Title</h5>
                                <a href="#" class="col-1 btn btn-danger" 
                                   th:href="@{/deleteSpecial(id=${special.specialId})}">Delete</a>
                            </div>    
                            <div class="row">
                                <div id="descriptionDiv" class="col-12"
                                    th:text="${special.description}">
                                    Special Description
                                </div>  
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
