<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
              crossorigin="anonymous" />
        
        <style>
            .jumbotron {
                background-image: url("../img/featuredBanner.png");
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                background-size: 100% 100%;
            }
        </style>

        <title>Featured Vehicles</title>
    </head>
    <body>
        <div class="container">
            
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img class="navbar-brand" th:src="@{/img/carPlaceholder.png}" width="30" height="30" />
                
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">New Inventory</a>
                    <a class="nav-item nav-link" href="#">Used Inventory</a>
                    <a class="nav-item nav-link" href="home/specials">Specials</a>
                    <a class="nav-item nav-link" href="#">Contacts</a>
                    <a class="nav-item nav-link" href="#">Sales</a>
                    <a class="nav-item nav-link" href="#">Admin</a>
                </div>
            </nav> 
            
            <div class="jumbotron mt-3">
                <h1 class="text-center text-warning">BIG HUGE SALE!!!</h1>
            </div>
            
            <hr class="my-4" />
            
            <h1 class="mb-4">Featured Vehicles</h1>
            
            <div class="card-deck" style="max-width: 25rem;">
                <div class="card">
                    <img class="card-img-top" th:src="@{/img/carPlaceholder.png}" />
                    <div class="card-body text-center">
                        <h5 class="card-title">2017 Make Model</h5>
                        <p class="card-text">$12,000</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" th:src="@{/img/carPlaceholder.png}" />
                    <div class="card-body text-center">
                        <h5 class="card-title">2017 Make Model</h5>
                        <p class="card-text">$12,000</p>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>