<!-- Austin Graham 09/29/2021 -->
<!-- html template file for viewing all Car Dealership Specials -->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Specials</title>
    <style>
        .card {
            border: 3px solid rgba(0, 0, 0, 0.5);
        }
        .card-img-left {
            flex-direction: row;
        }
    </style>
  </head>
  <body>
  <!-- Main Body of Page -->
    <div class="container">
      
      <!-- ------------------------Menu Bar--------------------------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="navbar-brand" th:src="@{/img/carPlaceholder.png}" width="30" height="30" />
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventory/new">New Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventory/used">Used Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/home/specials">Specials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contacts</a>
                </li>
                <li sec:authorize="hasAuthority('Sales')" class="nav-item">
                    <a class="nav-item nav-link" href="/sales">Sales</a>
                </li>
                <li sec:authorize="hasAuthority('Admin')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/admin/vehicles">Vehicles</a>
                            <a class="dropdown-item" href="/admin/Users">Users</a>
                            <a class="dropdown-item" href="/admin/Makes">Makes</a>
                            <a class="dropdown-item" href="/admin/Models">Models</a>
                            <a class="dropdown-item" href="/admin/adminSpecials">Specials</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasAuthority('Admin') || hasAuthority('Sales')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Account</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/account/password">Change Password</a>
                            <a href="javascript: document.logoutForm.submit()" class="dropdown-item"> Logout</a>
                            <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
                                <input hidden type="submit"/>
                            </form> 
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
      
      <!--
        <div class="col m-2 card card-img-left">
            <img class="col-1" th:src="@{/img/carPlaceholder.png}"/>
            <div class="card-body col-11"><a href="">Home</a> | 
                                   <a href="">New Inventory</a> | 
                                   <a href="">Used Inventory</a> | 
                                   <a href="specials">Specials</a> | 
                                   <a href="">Contacts</a> | 
                                   <a href="">Sales</a> | 
                                   <a href="">Admin</a>
            </div>
        </div>
      -->
      
      <!-- ------------------------Page Header------------------------------ -->
        <h1>Specials</h1>
      <!-- ------------------------Specials Listings------------------------ -->
      <!-- begin for each loop via thymeleaf to cycle through specials info- -->
        <div id="currentSpecials" th:each="special : ${specials}">
            <div class="row card">
                <div class="card-body">
                    <div class="row">

                      <!-- display contents of specials objects received from database -->   
                        <div class="col-1">
                            <img style="width: 50px; height: 50px;" 
                                 th:src="@{/img/carPlaceholder.png}"/>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h5 class="col card-title" th:text="${special.title}">Special Title</h5>
                            </div>
                            <div class="row">
                                <div id="descriptionDiv" class="col-11"
                                    th:text="${special.description}">
                                    Special Description
                                </div>  
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
